{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WordWrench</title>
  <link rel="stylesheet" href="https://unpkg.com/primitive-ui/dist/css/main.css">
  <link rel="stylesheet" href="{% static 'wordwrench/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'assistant/css/assistant.css' %}">
</head>
<body>
  <div class="small-container">
    {% block content %}
    {% endblock %}
  </div>
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  {% block scripts %}
  {% endblock %}
  <script src="{% static 'wordwrench/js/main.js' %}"></script>
</body>
</html>
